<% if(alerts.success){%>
  <%alerts.success.forEach(function(msg){%>
    <div class="row">
      <div class="card #66bb6a green lighten-1">
      <%=msg%>
    </div>
  </div>
  <%});%>
<%}%>

<% if(alerts.error){%>
  <%alerts.error.forEach(function(msg){%>
    <div class="row">
      <div class="card #d81b60 pink darken-1">
      <%=msg%>
    </div>
  </div>
  <%});%>
<%}%>
